<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Master Password</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center">Master Password</h2>
      <form id="passwordForm">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <button id="exit" class="btn btn-danger btn-block">Exit</button>
      </form>
     
    </div>
    <script>
      const { ipcRenderer } = require("electron");
      document
        .getElementById("passwordForm")
        .addEventListener("submit", (event) => {
          event.preventDefault();
          const password = document.getElementById("password").value;
          ipcRenderer.send("submit-password", password);
        });

      document
        .getElementById("exit")
        .addEventListener("click", (event) => {
          event.preventDefault();
          ipcRenderer.send("app-quit", "");
        });
    </script>
  </body>
</html>
